.h1-design{
    text-align: center;
    padding-top: 2rem;
}

.my-education{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.my-education i{
    font-size: 5rem;
    position: absolute;
    left: 22rem;
    top: 1rem;
}

.education-title{
    margin-top: 5rem;
}
.education-title h1{
    color: #c977c9;
}


.education-title img{
    width: 72%;
}

.certifications{
    text-align: center;
    margin-top: 5rem;
}

.certifications h3{
    margin-bottom: 1rem;
    color: #c977c9;
    padding-bottom: .5rem;
}

.certifications img{
    width: 72%;
}

.last-certificate {
    text-align: center;
}
.last-certificate img{
    width: 40%;
    margin: 0 auto;
}


@media screen and (max-width: 900px) {
    .h1-design{
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .my-education{
        display: block;
    }

    .education-title {
        margin-top: 0.9rem;
    }
    
    .education-title h1{
        margin-bottom: .9rem;
    }
    .education-title img{
        width: 90%;
    }

    .certifications{
        margin-top: 2rem;
    }

    .certifications h3{
        margin-bottom: 0;
    }
    
    
    .certifications img{
        height: 31rem;
        width: 90%;
    }

    .certificate{
        margin-bottom: .8rem;
    }
   
  }
@media screen and (max-width: 600px) {
    .education-title h1{
        font-size: 1.4rem;
    }

    .certifications h3{
        font-size: 1.4rem;
        margin-top: 3rem;
    }
    .certifications img{
        height: 16rem;
        width: 90%;
    }

   

  }