.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 2rem;
}

.my-work-title {
  text-align: center;
}

.my-work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 75vw;
  font-family: cursive;
  font-size: 1.4rem;
  line-height: 2.5rem;
  text-align: center;
}

.test {
  border-bottom: 2px solid purple;
  padding-bottom: 1rem;
}

.my-work-container img {
  width: 100%;
  max-width: 36rem;
  height: auto;
  border-radius: 1rem;
  padding: 0.4rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.my-work-container img:hover {
  transform: scale(1.01);
  background: rgb(59, 8, 59);
}

.my-work-container p {
  margin-bottom: 0.7rem;
  color: rgb(193, 189, 197);
}

.clamped-text-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.clamped-text.expanded {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}


.read-more-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, transparent, white 20%);
  padding-left: 20px;
}

.read-more-btn {
  border: none;
  background: none;
  color: #007bff;
  cursor: pointer;
  font: inherit;
  padding: 0;
}


.project-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.project-icons a {
  font-size: 2.5rem;
  color: white;
  transition: transform 0.2s;
}

.project-icons a:hover {
  transform: scale(1.1);
}


@media screen and (max-width: 900px) {
  .my-work-container {
    grid-template-columns: 1fr;
    width: 90vw;
  }

  .my-work-container img {
    max-width: 100%;
    height: auto;
  }

  .text {
    margin-bottom: 5rem;
  }

  .test {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .my-work {
    padding-bottom: 0;
  }

  .my-work-container {
    width: 95vw;
  }

  .my-work-container img {
    width: 100%;
    height: auto;
  }

  .text {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .project-icons a {
    font-size: 2rem;
  }
}
