.my-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 10rem;
    padding-bottom: 2rem;
}

.my-work-title{
    position: relative;
}

.my-work-title h1{
    padding: 0 1rem;
    font-size: 2rem;
}

.my-work-container{
    justify-content: space-between;
    
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.my-work-container img{
    padding: .4rem;
    width: 27rem;
    height: 13rem;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 1rem;
}
.my-work-container img:hover{
    transform: scale(1.01);
    transition: 0.3s;
    background: rgb(59, 8, 59);
}