.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem 3rem;
  font-family: cursive;
}

.navbar ul li {
  cursor: pointer;
}
.navbar ul li a:hover {
  color: #830ea3;
}
.navbar ul li a {
  font-family: 'Atlassian Sans';
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  font-size: 1.1rem;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-conect {
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(267deg, #3a25da 0.36%, #830ea3 102%);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.hero-connect1 {
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(267deg, #3a25da 0.36%, #830ea3 102%);
  cursor: pointer;
}
.hero-connect1:hover {
  transform: scale(1.06);
}

.nav-conect:hover {
  transform: scale(1.02);
}

.burger-menu {
  display: none;
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .burger-menu {
    display: block;
  }

  .navbar img {
    position: absolute;
    top: 0.9rem;
  }

  .nav-menu {
    /* position: absolute; */
    flex-direction: row;
    margin-top: 4rem;
  }

  .burger-menu i {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
  }

  .nav-menu li a {
    display: none;
  }
  .hero-connect1 {
    display: none;
  }

  .show-menu {
    display: block !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-menu {
    flex-direction: column;
    gap: 0;
    width: 100vw;
    align-items: start;
  }

  .nav-menu {
    font-size: 1.2rem;
  }
}
